body{
	margin: 0px;
	color: white;
  min-height: 100vh;
}
h1{
	color :white;
	#background-color:black;
	Text-align: center;
}
footer{
	color:white;
	background-color:black;
	text-align:left;
}
div{
	display:inline-block;
	text-align:center;
}
hr{
  opacity: 0.2;
}
.admin-name{
  background-color: #000;
  color: white;
}
.input{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.button{
    background-color:black;
    color: floralwhite;
    padding: 20px;
    width: 100%;
    opacity: 0.9;
}
.icon{
    background-color:black;
    color: floralwhite;
    padding: 10px 10px;
}
.field{
    padding: 10px;
    width: 100%;
}
.button:hover{
    opacity: 0.8;
}
.width-33{
	width: 33%;
}
.width-50{
	width: 50%;
}
.width-66{
	width: 66%;
}
.width-100{
	width: 100%;
}
.display-block{
	display: block;
}
.float-left{
	float: left;
}
div.center{
	img-align :center;
	text-align:center;
}
div.right{
	img-align :right;
	text-align:right;
}
div.left{
	img-align :left;
	text-align:left;
	text-color:white;
}
ul{
	list-style: none;
}
.list-item{
	display: block;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.list-item-r{
	display: block;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 98%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.desc {
  padding: 15px;
  text-align: center;
}
.active {
  background-color: #f3f3f3!important;
  color: #000!important;
}
.text-center{
	text-align: center;
}
a:link, a:visited {
  background-color: #000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.no-style{
  background-color: transparent  !important;
  padding: 0px!important;
  text-align: center!important;
  text-decoration: none!important;
  display: inline-block!important;
}
.span-link {
  background-color: #000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}
#globalFooter {
    position: absolute;
    display: block;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 65px;
    background-color: #15323a;
    color: #fff;
    margin-top: 15px;
}
.global .inner {
    width: 100%;
    margin: 0 auto;
}
.row{
    width: 100%;
    position: relative;
}
.placed{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
#globalFooter .legal {
    opacity: .4;
    margin-top: 30px;
}
#globalFooter .col {
    width: 50%;
}
.col {
	float: left;
    position: relative;
}
#globalFooter .social-links {
    text-align: right;
}
#globalFooter .social-links ul{
    padding-right: 15px;
}
#globalFooter .social-links li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
#globalFooter a {
    color: #fff;
}
#globalFooter .social-links li ~ li {
    margin-left: 22px;
}
a.uline {
    color: #ff4444;
    position: relative;
}